.example-spacer {
    flex: 1 1 auto;
  }

mat-toolbar{
    background-color: #316b87;
}

a{
    text-decoration: none;
    padding-right: 30rem;
    font-family: Heebo;
    font-weight: 600;
    color: white;
    font-size: 2rem;
}